
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1; /* Mengisi sisa ruang di atas footer */
}
footer {
  background-color: #343a40;
  color: white;
}